@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@using Microsoft.AspNetCore.Html
@{
  ViewData["Title"] = "Login | CommonMorph";
  Layout = "~/Views/Shared/_User.cshtml";
}
<script src="https://accounts.google.com/gsi/client" async defer></script>
<h2>Login</h2>
<div>
  <div class="loginOr"><span>Login in With Google Account</span></div>
  <form id="googleform" class="form" method="post" action="@Url.Action("GoogleLogin")">
    <div id="g_id_onload" data-client_id="@Configuration["GoogleClientId"]" data-context="signin" data-ux_mode="popup"
      data-login_uri="/user/GoogleLogin" data-auto_prompt="false">
    </div>
    <div class="g_id_signin" data-type="standard" data-shape="rectangular" data-theme="outline"
      data-text="continue_with" data-size="large" data-logo_alignment="left">
    </div>
  </form>
  <script>
    function handleCredentialResponse(credentialResponse) {
      $('<input />').attr('type', 'hidden').attr('credential', 'credential').attr('value', credentialResponse.credential).appendTo('#googleform');
      $('#googleform').submit();
    }
  </script>

  <div class="loginOr"><span>Or CommonMorph Account:</span></div>

  <form method="post">
    @if (ViewBag.Error != null)
    {
      <div class="form-section">
        <div class="form-error">@ViewBag.Error</div>
      </div>
    }
    <div class="form-section">
      <input type="email" id="username" name="username" placeholder="Email" required>
    </div>
    <div class="form-section">
      <input type="password" id="password" name="password" placeholder="Password" required>
    </div>
    <div class="form-section"><button type="submit" class="form-submit">Login</button></div>
    <div class="form-section"><a href="/user/register">Register</a></div>
    <div class="form-section"><a href="/user/forgot">Forgot Password</a></div>
  </form>
</div>