@model IEnumerable<dynamic>
@{
    ViewData["Title"] = "Universal Morphological Analyser | CommonMorph";
}

<div class="container">
    <h1>Universal Morphological Analyser</h1>
    <p>Enter an inflected word to find its morphological analyses across different language varieties available in CommonMorph.</p>

    <div class="field">
        <input type="text" id="txtWord" placeholder="Enter an inflected word...(use % for unknown letters)" required />
        <button type="button" id="btnAnalyse">Analyse</button>
    </div>
    <div class="field" style="flex-wrap: wrap;">
        <label>Morphosyntactic Feature Set Format:</label>
        <span><input type="radio" name="tagsFormat" value="um" checked> UniMorph</span>
        <span><input type="radio" name="tagsFormat" value="universal"> Linguistic Terms</span>
    </div>

    <div id="results"></div>
</div>

<script src="/js/UM_tags.js" asp-append-version="true"></script>
<script src="/js/i18n.js" asp-append-version="true"></script>
<script src="/js/analyser.js" asp-append-version="true"></script>