@{
  ViewData["Title"] = "CommonMorph";
}

<div class="hero">
  <div class="hero-left">
    <h1>Expanding Morphological Resources for Every Language</h1>
    <p>
      CommonMorph is an open platform for collecting and validating morphological data—powered by linguists,
      communities, and AI.
    </p>
    <div class="buttons">
      <a class="button" href="#actions">Get started <span class="material-icons">arrow_downward</span></a>
    </div>
  </div>
  <div class="hero-right">

  </div>
</div>
<div class="mainpage-box" id="actions">
  <div class="tiers">
    <h3>How does CommonMorph work?</h3>
    <p>CommonMorph uses a three-step process where linguists and community members work together to
      develop resources for under-resourced languages.</p>
    <div class="tier">
      <div class="icon">1</div>
      <div>
        <h4>Expert Initialization</h4>
        <p>Linguists create empty morphological paradigms and assign morphosyntactic tags.
          They can import shared structures from related languages.</p>
      </div>
    </div>
    <div class="tier">
      <div class="icon">2</div>
      <div>
        <h4>Remote elicitation with AI Assistance</h4>
        <p>Community contributors provide the correct word forms with suggestions from AI models that improve with each
          submission.
        </p>
      </div>
    </div>
    <div class="tier">
      <div class="icon">3</div>
      <div>
        <h4>Community Validation</h4>
        <p>All data is reviewed collaboratively to ensure accuracyand cultural appropriateness.
        </p>
      </div>
    </div>
    <div class="buttons">
      <a class="button" href="/tutorials">Explore the Platform</a>
      <a class="button" href="/user">Contribute!</a>
    </div>
  </div>
</div>

<div class="mainpage-box">
  <div class="tiers">
    <h3>NLP-ready Datasets</h3>
    <p>Open-source datasets in UniMorph and CLDF formats support multilingual morphological analysis.</p>
    <div class="buttons"><a class="button" href="/datasets">Explore the Datasets</a></div>
    <div class="map" style="min-width:350px;"></div>
  </div>
</div>

<script src="/js/map.js" asp-append-version="true"></script>