@{
  ViewData["Title"] = "Common Morph";
}

<div class="hero">
  <h1>Welcome to CommonMorph</h1>
  <p>
    CommonMorph is an AI-powered assistant designed to help linguists efficiently gather morphological data from
    informants.
  </p>
</div>

<div class="mainpage-box">
  <h2>What is CommonMorph?</h2>
  <p>
    Collecting and annotating morphological data presents significant challenges, requiring linguistic expertise,
    methodological rigour, and substantial resources--barriers particularly acute for low-resourced languages and
    varieties. To address these challenges, we introduce CommonMorph, a comprehensive platform that streamlines
    morphological data collection development through a three-tiered approach: expert linguistic definition, contributor
    elicitation, and community validation.
    CommonMorph enhances rule-based linguistics with artificial intelligence to enable semi-automated morphological form
    generation through a human-in-the-loop architecture. It also increases interoperability by exporting resources in
    multiple standardized formats that seamlessly integrate with existing computational morphology ecosystems and
    formats such as UniMorph. Our platform provides an open infrastructure for expanding morphological resources in
    computational linguistics.
  </p>
</div>


<div class="mainpage-box">
  <h2>Traditional language documentation</h2>
  <p>
    According to UNESCO, around 2,000 languages are currently classified as endangered and over half of the languages
    spoken today might disappear by the end of the century. In 2022, the organisation has declared the start of the
    decade of indigenous languages, and many linguists increased their efforts in documentation and revitalisation. But
    language documentation is a drawn-out, iterative, and exhausting process. A linguist would normally visit a language
    community several times to interview speakers and collect the data. During each visit, she or he would focus on
    tasks such as elicitation of words and language rules by offering them questionnaires or asking them to tell
    stories. Between visits, the linguist would focus on processing, revising the data, and forming working linguistic
    hypotheses that will be further revised during the next face-to-face sessions.
  </p>
</div>

<div class="map" style="min-width:350px;"></div>
<script src="/js/map.js" asp-append-version="true"></script>