@{
  ViewData["Title"] = "CommonMorph Privacy Notice";
}
<div class="container">
  <h1>CommonMorph Privacy Notice</h1>
  <p>Effective 1 March 2025</p>
  <h2>Privacy</h2>
  <p>
    When we receives information from you, our Privacy Policy describes how we handle that information.
  </p>
  <ul>
    <li>
      To ensure data quality control and verification by different users, the CommonMorph platform requires each user
      to have an account. However, we do not share or publish any personal or identifiable information.
    </li>
    <li>
      All linguistic data contributed through the platform is intended for public release via open-access repositories.
    </li>
    <li>
      Our analyses are based on licensed data, which are freely available for academic use.
    </li>
    <li>
      The study design and participant involvement have been reviewed and approved by
      <b>the University of Melbourne Human Research Ethics Committee </b> (Reference No. 2025-32066-64105-3).
    </li>
  </ul>
</div>