@{
  ViewData["Title"] = "Common Morph Privacy Notice";
}
<div class="container">
  <h1>Common Morph Privacy Notice</h1>
  <p>
    The Common Morph platform does not publish any personal or identifiable information from its users.
  </p>
  <p>
    All linguistic data contributed through the platform is intended for public release via open-access repositories.
  </p>
  <p>
    The study design and participant involvement have been reviewed and approved by the University of Melbourne Human
    Research Ethics Committee (Reference No. 2025-32066-64105-3).
  </p>
  <p>
    Our analyses are based on licensed data, which are freely available for academic use.</p>
</div>