@{
  ViewData["Title"] = "Elicit";
  Layout = "~/Views/Shared/_App.cshtml";
}
<div id="elicit"></div>
<script src="/js/myLang.js" asp-append-version="true"></script>
<script src="/js/elicit.js" asp-append-version="true"></script>
<script src="/js/elicit-expert.js" asp-append-version="true"></script>
<script src="/js/UM_tags.js" asp-append-version="true"></script>