@{
  ViewData["Title"] = "Linguist";
  Layout = "~/Views/Shared/_App.cshtml";
}

<div class="accordion">

  <div class="accordion-item" id="paradigm-accordion">
    <div class="accordion-header">Paradigm Structures</div>
    <div class="accordion-content">
      <label>
        <span class="addButton" id="btnAddParadigmClass"><span class="material-icons">add</span>Add</span>
      </label>
      <label>
        <span class="addButton" id="btnImportSlot"> <span class="material-icons">download</span> Import</span>
      </label>
      <label>
        <span class="addButton" id="btnExportSlot"> <span class="material-icons">upload</span> Export</span>
      </label>
      <ul id="lstParadigmClasses" class="list"></ul>
      <div id="frmParadigmClass" class="form">
        <form onsubmit="ParadigmClassSubmit(); return false;">
          <input type="hidden" id="ParadigmClassId" />
          <div class="field">
            <label for="txtParadigmClassTitle">Title</label>
            <input type="text" id="txtParadigmClassTitle" name="title" required />
          </div>
          <div class="field">
            <label for="txtParadigmClassDescription">Description</label>
            <textarea id="txtParadigmClassDescription" name="description"></textarea>
          </div>
          <div class="field-end">
            <button type="button" id="btnParadigmClassCancel">Cancel</button>
            <button type="submit" id="btnParadigmClassSubmit"></button>
          </div>
        </form>
      </div>
      <div id="frmImportSlots" class="form">
        <form onsubmit="SlotImportSubmit(); return false;">
          <div class="field">
            <label>Import Script</label>
            <textarea id="txtSlotImport" rows="15"></textarea>
          </div>
          <div class="field-end">
            <button type="button" id="btnSlotImportCancel">Cancel</button>
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div id="frmSlots" class="form">
        <form onsubmit="SlotsSubmit(); return false;">
          <input type="hidden" id="SlotId" />
          <input type="hidden" id="SlotPClassId" />
          <div class="field">
            <label for="txtSlotTitle">Title</label>
            <input type="text" id="txtSlotTitle" name="Title" required />
          </div>
          <div class="field">
            <label for="txtSlotUniMorphTags">Morphosyntactic Feature</label>
            <div id="SlotUMtagSelector" class="tagSelection"></div>
            <input type="text" id="txtSlotUniMorphTags" name="UniMorphTags" required />
          </div>
          <div class="field">
            <label for="txtSlotFormula">Formula <small>(optional)</small></label>
            <input type="text" id="txtSlotFormula" name="formula" placeholder="S1+A" />
            <small>S1=Stem1, S2=Stem2, A=Agreement, L=Lemma</small>
          </div>
          <div class="field">
            <label>Reusable Layer</label>
            <select id="cmbSlotAgreementGroup" style="width: 300px;"></select>
          </div>
          <div class="field">
            <label>Priority</label>
            <select id="cmbSlotPriority" style="width: 300px;" required>
              <option value="0" selected>Low</option>
              <option value="1">Medium</option>
              <option value="2">High</option>
            </select>
          </div>
          <div class="field-end">
            <button type="button" id="btnSlotsCancel">Cancel</button>
            <button type="submit" id="btnSlotsSubmit"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item" id="agreement-accordion">
    <div class="accordion-header">Reusable Layers</div>
    <div class="accordion-content">
      <label>
        <span class="addButton" id="btnAddAgreementGroup"><span class="material-icons">add</span> Add</span>
      </label>
      <label>
        <span class="addButton" id="btnImportAgreements"> <span class="material-icons">download</span> Import</span>
      </label>
      <label>
        <span class="addButton" id="btnExportAgreements"> <span class="material-icons">upload</span> Export</span>
      </label>
      <ul id="lstAgreementGroups" class="list"></ul>
      <div id="frmImportAgreement" class="form">
        <form onsubmit="AgreementImportSubmit(); return false;">
          <div class="field">
            <label>Import Agreement Script</label>
            <textarea id="txtAgreementImport" rows="15"></textarea>
          </div>
          <div class="field-end">
            <button type="button" id="btnAgreementImportCancel">Cancel</button>
            <button type="submit" id="btnAgreementImportSubmit">Submit</button>
          </div>
        </form>
      </div>
      <div id="frmAgreementGroup" class="form">
        <form onsubmit="AgreementGroupSubmit(); return false;">
          <input type="hidden" id="AgreementGroupId" />
          <div class="field">
            <label>Title</label>
            <input type="text" id="txtAgreementGroupTitle" name="title" required />
          </div>
          <div class="field-end">
            <button type="button" id="btnAgreementGroupCancel">Cancel</button>
            <button type="submit" id="btnAgreementGroupSubmit"></button>
          </div>
        </form>
      </div>
      <div id="frmAgreementItem" class="form">
        <form onsubmit="AgreementItemSubmit(); return false;">
          <input type="hidden" id="AgreementItemId" />
          <input type="hidden" id="AgreementItemGroupId" />
          <div class="field">
            <label for="txtAgreementItemTitle">Title</label>
            <input type="text" id="txtAgreementItemTitle" name="Title" placeholder="1st person singular" required />
          </div>
          <div class="field">
            <label for="txtAgreementItemRealization">Morpheme</label>
            <input type="text" id="txtAgreementItemRealization" name="Realization" required />
          </div>
          <div class="field">
            <label for="txtAgreementItemUniMorphTags">Morphosyntactic Feature</label>
            <div id="AgreementUMtagSelector" class="tagSelection"></div>
            <input type="text" id="txtAgreementItemUniMorphTags" name="UniMorphTags" placeholder="SG;1" required />
          </div>
          <div class="field">
            <label>Priority</label>
            <select id="cmbAgreementItemPriority" style="width: 300px;">
              <option value="0" selected>Low</option>
              <option value="1">Medium</option>
              <option value="2">High</option>
            </select>
          </div>
          <div class="field-end">
            <button type="button" id="btnAgreementItemCancel">Cancel</button>
            <button type="submit" id="btnAgreementItemSubmit"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item" id="lemma-accordion">
    <div class="accordion-header">Lexicon</div>
    <div class="accordion-content">
      <label>
        <span class="addButton" id="btnAddLemma"><span class="material-icons">add</span>Add</span>
      </label>
      <label>
        <span class="addButton" id="btnImportLemmas"> <span class="material-icons">download</span> Import</span>
      </label>
      <label>
        <span class="addButton" id="btnExportLemmas"> <span class="material-icons">upload</span> Export</span>
      </label>
      <ul id="lstLemmas" class="list"></ul>
      <div id="frmImportLemmas" class="form">
        <form onsubmit="LemmaImportSubmit(); return false;">
          <div class="field">
            <label>Import Script</label>
            <textarea id="txtLemmaImport" rows="15"></textarea>
          </div>
          <div class="field-end">
            <button type="button" id="btnLemmaImportCancel">Cancel</button>
            <button type="submit">Submit</button>
          </div>
        </form>
      </div>
      <div id="frmLemmas" class="form">
        <form onsubmit="LemmasSubmit(); return false;">
          <input type="hidden" id="LemmaId" />
          <div class="field">
            <label>Paradigm Class</label>
            <select id="cmbLemmaParadigmClass" style="width: 300px;" required></select>
          </div>
          <div class="field">
            <label>Meaning</label>
            <input type="text" id="txtLemmaEnglish" name="EngMeaning" required />
          </div>
          <div class="field">
            <label>Dictionary Entry</label>
            <input type="text" id="txtLemmaEntry" name="entry" required />
          </div>
          <div class="field">
            <label>Stem1 <small>(optional)</small></label>
            <input type="text" id="txtLemmaStem1" name="Stem1" />
          </div>
          <div class="field">
            <label>Stem2 <small>(optional)</small></label>
            <input type="text" id="txtLemmaStem2" name="Stem2" />
          </div>
          <details>
            <summary>More Stems</summary>
            <div class="field">
              <label>Stem3 <small>(optional)</small></label>
              <input type="text" id="txtLemmaStem3" name="Stem3" />
            </div>
            <div class="field">
              <label>Stem4 <small>(optional)</small></label>
              <input type="text" id="txtLemmaStem4" name="Stem4" />
            </div>
          </details>
          <div class="field">
            <label>Priority</label>
            <select id="cmbLemmaPriority" style="width: 300px;" required>
              <option value="0" selected>Low</option>
              <option value="1">Medium</option>
              <option value="2">High</option>
            </select>
          </div>
          <div class="field">
            <label>Description <small>(optional)</small></label>
            <input type="text" id="txtLemmaDescription" name="Description" />
          </div>
          <div class="field-end">
            <button type="button" id="btnLemmasCancel">Cancel</button>
            <button type="submit" id="btnLemmasSubmit"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="accordion-item" id="morphophonemics-accordion">
    <div class="accordion-header">Morphophonological Rules</div>
    <div class="accordion-content">
      <label>
        <span class="addButton" id="btnAddMorphophonemicRule"><span class="material-icons">add</span>Add</span>
      </label>
      <ul id="lstMorphophonemicRules" class="list"></ul>
      <div id="frmMorphophonemicRule" class="form">
        <form onsubmit="MorphophonemicRuleSubmit(); return false;">
          <input type="hidden" id="MorphophonemicRuleId" />
          <div class="field">
            <label for="txtMorphophonemicRuleTitle">Title</label>
            <input type="text" id="txtMorphophonemicRuleTitle" name="title" required />
          </div>
          <div class="field">
            <label for="txtMorphophonemicRuleReplaceFrom">Replace From</label>
            <input type="text" id="txtMorphophonemicRuleReplaceFrom" name="replacefrom" required />
          </div>
          <div class="field">
            <label for="txtMorphophonemicRuleReplaceTo">Replace To</label>
            <input type="text" id="txtMorphophonemicRuleReplaceTo" name="replaceto" required />
          </div>
          <div class="field-end">
            <button type="button" id="btnMorphophonemicRuleCancel">Cancel</button>
            <button type="submit" id="btnMorphophonemicRuleSubmit"></button>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>

<div id="popup" class="popup">
  <div class="popup-content">
    <div id="closePopup" class="close">&times;</div>
    <div id="popupContent"></div>
  </div>
</div>
<script src="/js/myLang.js" asp-append-version="true"></script>
<script src="/js/UM_tags.js" asp-append-version="true"></script>
<script src="/js/linguist.js" asp-append-version="true"></script>
<script src="/js/lemmas.js" asp-append-version="true"></script>
<script src="/js/slots.js" asp-append-version="true"></script>
<script src="/js/agreements.js" asp-append-version="true"></script>
<script src="/js/morphophonology.js" asp-append-version="true"></script>
<script>
  $(document).ready(function () {
    $('#frmLang').hide();
    $('#frmParadigmClass').hide();
    $('#frmAgreementGroup').hide();
    $('#frmImportAgreement').hide();
    $('#frmImportSlots').hide();
    $('#frmImportLemmas').hide();
    $('#frmLemmas').hide();
    $('#frmSlots').hide();
    $('#frmAgreementItem').hide();
    $('#popup').hide();
  });
</script>