@{
  ViewData["Title"] = "Linguist";
  Layout = "~/Views/Shared/_App.cshtml";
}
<div class="qTemaplateEntryList">
  <div id="questionLists"></div>
  <div id="questionForm"></div>
  <div id="instruction"></div>
  <div id="examples"></div>
</div>
<script src="/js/myLang.js" asp-append-version="true"></script>
<script src="/js/UM_tags.js" asp-append-version="true"></script>
<script src="/js/qtemplates.js" asp-append-version="true"></script>