:root {
  --maxWidth: 800px;
  --C0: #59cbb7;
  --C1: #ff4f5e;
  --C2: #9b90ff;
  --C3: #629ff4;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input,
optgroup,
select,
textarea {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--C1);
}

h1 {
  font-size: 1.5rem;
  text-align: center;
}

.forms {
  padding-top: 10px;
  border-collapse: collapse;
}

.forms>div {
  padding: 10px 0;
  border-top: 1px solid var(--C0);
}

.LemmaFeatures {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
}

.formInputs{
  display: flex;
  justify-content: space-between;  
  align-items: center;
}
.addedForm{
  color: #555;
  min-width: 200px;
}
.features {
  font-size: 0.8rem
}

.buttons {
  display: flex;
}

/* main 3 rows */
.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: grid;
  grid-template: auto 1fr auto / 1fr;
}

.header {
  box-shadow: inset #eee 0 -3px 20px 0px;
}

.header div {
  max-width: var(--maxWidth);
  margin: auto;
  display: flex;
  padding: 5px 10px;
}

.main {
  overflow: auto;
  max-width: var(--maxWidth);
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
}

.footer {
  user-select: none;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  text-align: center;
  box-shadow: inset #eee 0 5px 20px 0px;
}

.footer div {
  padding: 5px;
}

/* panels */
.panel {
  max-width: var(--maxWidth);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list {
  display: flex;
  flex-direction: column;
}
.list>div {
  padding: 10px 0;
}
.dialect {
  padding: 5px;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.dialect:hover {
  border-inline-start: var(--C0) solid 5px;
}

code {
  background: var(--C0);
  padding: 2px;
}

.wordClass {
  padding: 10px;
}

.addButton {
  cursor: pointer;
  background: var(--C2);
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  padding: 5px 5px;
  border-radius: 5px;
}

.smallButton {
  cursor: pointer;
  background: var(--C0);
  color: #fff;
  font-weight: normal;
  font-size: 1rem;
  padding: 2px 5px;
  border-radius: 5px;
}

.lemma {
  padding: 10px;
  cursor: pointer;
}

.LemmaWClass {
  font-size: 0.8rem;
  background: var(--C3);
  padding: 2px;
}

.formSubmit {
  font-size: 1rem;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}

.formSubmit:hover {
  background: var(--C0);
}

.priority0::before {
  content: "●";
  color: #999;
  font-size: 0.8rem;
}

.priority1::before {
  content: "●";
  color: #555;
  font-size: 0.8rem;
}

.priority2::before {
  content: "●";
  color: #222;
  font-size: 1.2rem;
}

/* forms */
button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  box-sizing: border-box;
}

.form {
  display: flex;
  /* Hidden by default */
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Semi-transparent background */
  z-index: 1000;
  /* Ensures it’s on top */
  justify-content: center;
  align-items: center;
}

form {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 330px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  padding: 5px;
  box-sizing: border-box;
}

form .field {
  padding: 5px;
}

label {
  padding-block-start: 10px;
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #555;
}

input[type="text"],
textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  unicode-bidi: plaintext;
}

textarea {
  resize: vertical;
  min-height: 100px;
  box-sizing: border-box;
}

button[type="submit"] {
  background-color: var(--C0);
}

button[type="submit"]:hover {
  background-color: var(--C0);
}

label small {
  font-weight: normal;
  color: #777;
}


/* tab */
.tab {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.tab a {
  padding: 5px 20px;
  cursor: pointer;
  color: #000;
  font-size: 1.2rem;
  transition: color 0.3s ease;
  font-weight: bold;
  user-select: none;
  text-align: center;
}

.tab a.active {
  background: var(--C0);
  color: #fff;
  border-radius: 10px;
}

.tabcontent {
  display: none;
  transition: display 0.3s ease;
  padding: 5px;
}

.tabcontent.active {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Loading */
div.loading {
  width: 15px;
  height: 15px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid red;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 10px auto;
  display: block;
  padding: 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* details */
details {
  min-width: 300px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 0.5em;
  background-color: #f9f9f9;
  transition: border-color 0.3s ease;
}

details[open] {
  border-color: var(--C0);
}

summary {
  font-weight: 600;
  cursor: pointer;
  list-style: none;
  /* Removes default triangle bullet */
  padding: 0.5em 0;
  position: relative;
  display: flex;
  align-items: center;
}